# Unidad 2: Laboratorio 1

**Nombre:** Miguel Castillo

In [21]:
""" Librerias """
import pandas as pd
import numpy as np

""" division de los datos """
from sklearn.model_selection import train_test_split

## 1. Analisis del dataset

In [4]:
""" importacion del dataset """
df = pd.read_csv("Dataset of Diabetes .csv")

""" muestra de los primeros diez datos """
df.head(10)

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N
5,634,34224,F,45,2.3,24,4.0,2.9,1.0,1.0,1.5,0.4,21.0,N
6,721,34225,F,50,2.0,50,4.0,3.6,1.3,0.9,2.1,0.6,24.0,N
7,421,34227,M,48,4.7,47,4.0,2.9,0.8,0.9,1.6,0.4,24.0,N
8,670,34229,M,43,2.6,67,4.0,3.8,0.9,2.4,3.7,1.0,21.0,N
9,759,34230,F,32,3.6,28,4.0,3.8,2.0,2.4,3.8,1.0,24.0,N

In [102]:
""" encontrar tipos de datos de las columnas """ 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         1000 non-null   int64
 1   No_Pation  1000 non-null   int64
 2   Gender     1000 non-null   object
 3   AGE        1000 non-null   int64
 4   Urea       1000 non-null   float64
 5   Cr         1000 non-null   int64
 6   HbA1c      1000 non-null   float64
 7   Chol       1000 non-null   float64
 8   TG         1000 non-null   float64
 9   HDL        1000 non-null   float64
 10  LDL        1000 non-null   float64
 11  VLDL       1000 non-null   float64
 12  BMI        1000 non-null   float64
 13  CLASS      1000 non-null   object
dtypes: float64(8), int64(4), object(2)
memory usage: 109.5+ KB

In [103]:
""" estadisticas del dataset """
df.describe()

,ID,No_Pation,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI
count,1000.000000,1.000000e+03,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,340.500000,2.705514e+05,53.528000,5.124743,68.943000,8.281160,4.862820,2.349610,1.204750,2.609790,1.854700,29.578020
std,240.397673,3.380758e+06,8.799241,2.935165,59.984747,2.534003,1.301738,1.401176,0.660414,1.115102,3.663599,4.962388
min,1.000000,1.230000e+02,20.000000,0.500000,6.000000,0.900000,0.000000,0.300000,0.200000,0.300000,0.100000,19.000000
25%,125.750000,2.406375e+04,51.000000,3.700000,48.000000,6.500000,4.000000,1.500000,0.900000,1.800000,0.700000,26.000000
50%,300.500000,3.439550e+04,55.000000,4.600000,60.000000,8.000000,4.800000,2.000000,1.100000,2.500000,0.900000,30.000000
75%,550.250000,4.538425e+04,59.000000,5.700000,73.000000,10.200000,5.600000,2.900000,1.300000,3.300000,1.500000,33.000000
max,800.000000,7.543566e+07,79.000000,38.900000,800.000000,16.000000,10.300000,13.800000,9.900000,9.900000,35.000000,47.750000

### Interpretacion del dataset:
En el dataset se cuenta con 1000 muestras y 14 columnas de variables o características. Se cuenta únicamente con dos columnas de características que contienen datos en forma de texto, las cuales son Gender y CLASS, mismas que son de tipo de dato "object". El resto de las caracteristicas son datos numericos. En las cuales se identifican que ocho columnas son de tipo "float" y las 4 columnas restantes son de tipo "int". <br>

Con el metodo describe() se muestran estadísticas solo de los datos numericos, donde se puede observar que todas las características presentes cuentan con la misma cantidad de 1000 muestras o registros. El promedio de cada columna varía, ya que especialmente los valores de las caracteristicas de ID, No_pation, Age y BMI pueden considerarse como atípicos, debido a que son datos que se alejan del resto de las caracteristicas. Las cuatro características mencionadas anteriormente sobresalen en el resto de las estadísticas como son: la desviación estándar, el mínimo, máximo, el primer cuartil (25%), segundo cuartil (50%), tercer cuartil (75%) y cuarto cuartil (100%).

## 2. Preprocesamiento y limpieza de datos

In [5]:
""" identificar datos faltantes """
df.isnull().sum()

ID           0
No_Pation    0
Gender       0
AGE          0
Urea         0
Cr           0
HbA1c        0
Chol         0
TG           0
HDL          0
LDL          0
VLDL         0
BMI          0
CLASS        0
dtype: int64

#### 2.1 Codificacion de etiquetas

In [6]:
""" encontrar valores unicos de las caracteristicas """
def valores_unicos_etiquetas(columna1, columna2):
    return display(df[columna1].unique(),df[columna2].unique())

In [7]:
""" etiquetas de la columna [Gender] y [CLASS] """
valores_unicos_etiquetas('Gender','CLASS')

array(['F', 'M', 'f'], dtype=object)

array(['N', 'N ', 'P', 'Y', 'Y '], dtype=object)

**Nota**: En la columna Gender se identifican tres tipos de etiquetas ('F','M','f'). En cambio, en la columna CLASS existen cinco tipos de etiquetas de las cuales cuatro ('N','N ','Y','Y ') son similares visualmente, pero diferentes en su composición debido a el espacio que existe en la comilla simple. La desicion que se toma es la siguiente: <br>
* Para el primer caso, se transforma todas las etiquetas a mayusculas. 
* Para el segundo caso, se elimina los espacios en blanco, haciendo que esas cuatro etiquetas se fusionen en dos('N' y 'Y').

Se ha decidido aplicar estas tecnicas para evitar un posible mal rendimiento del modelo o para no generar predicciones y resultados que pueden ser inexistentes. Debido a que este cambio pudieron haber sido causados por errores en la manipulacion de los datos o desde la introduccion de los mismos.

In [8]:
"""  ELIMINAR ESPACIOS EN BLANCO con el uso del metodo strip() """
df['CLASS'] = df['CLASS'].apply(lambda x: x.strip())

""" CAMBIAR ETIQUETAS A MAYUSCULAS con el metodo upper() """
df['Gender'] = df['Gender'].apply(lambda x: x.upper() )

In [9]:
"""CODIFICAR ETIQUETAS """
dicc_gender = {'F': 0, 'M':1}
df['Gender'] =df['Gender'].map(dicc_gender)
dicc_class = {'N':1, 'P':2, 'Y':3}
df['CLASS'] =df['CLASS'].map(dicc_class)

In [10]:
""" comprobar valor de las etiquetas """
valores_unicos_etiquetas('Gender','CLASS')

array([0, 1], dtype=int64)

array([1, 2, 3], dtype=int64)

#### 2.2 Cambiar tipo de dato

In [11]:
""" funcion para cambiar tipo de dato de columnas codificadas de object => category """
def cambiar_tipodato_imputacion(df,columnas, tipodato_futuro):
    for i in columnas:
        df[i]= df[i].astype(tipodato_futuro)

In [12]:
""" columnas a cambiar tipo de dato numerico"""
columnas=['Gender','CLASS']
cambiar_tipodato_imputacion(df,columnas, "category")

In [13]:
""" comprobar tipo de dato """
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         1000 non-null   int64
 1   No_Pation  1000 non-null   int64
 2   Gender     1000 non-null   category
 3   AGE        1000 non-null   int64
 4   Urea       1000 non-null   float64
 5   Cr         1000 non-null   int64
 6   HbA1c      1000 non-null   float64
 7   Chol       1000 non-null   float64
 8   TG         1000 non-null   float64
 9   HDL        1000 non-null   float64
 10  LDL        1000 non-null   float64
 11  VLDL       1000 non-null   float64
 12  BMI        1000 non-null   float64
 13  CLASS      1000 non-null   category
dtypes: category(2), float64(8), int64(4)
memory usage: 96.1 KB

## 3. Matriz de caracteristicas, variable objetivo y division del dataset

In [15]:
""" lista de caracteristicas """
caracteristicas_x = ['Gender','AGE','Cr','HbA1c','Chol','TG','HDL','LDL','VLDL','BMI']

""" variable independiente/matriz de caracteristicas """
X = df[caracteristicas_x]

""" varaible dependiente/objetivo/etiqueta """
y = df['CLASS']

In [22]:
""" division de los datos en entrenamiento y prueba """
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=10)

### 4. Modelo de Clasificacion por Arbol de Decision